@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');

body {
  margin: 0;
}

.navBar {
  background-color: black;
  overflow: hidden;
}

.navBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 12px;
  margin: 0 0 0 20;
}

#unl {
  background-color: blueviolet;

}

.navBar a:hover {
  background-color: blueviolet;
}

.list {
  margin: 10px;
}


div > #ul{
  padding: 5px;
  border: 5px solid blue;
  background-color: lightblue;
}

div > #ol{
  padding: 5px;
  border: 5px solid green;
  background-color: lightgreen;
}
